---
title: "Boat Party"
posted: "2014-05-18"
folio: true
description: "This my final project for the Front-End and Ruby on Rails course I took at GA."
responsibilities: "I built the whole fucking thing"
keywords: ['ruby', 'rails', 'html']
image: '/images/boat.png'
---

<h1>Yup Yup</h1>
{{> folio-block}}