<header>
            <h1 class="name">
                <a href="/">Jeff Denton</a>
            </h1>

            <a href="#menu" class="menu-link">Menu</a>
            <nav id="menu" role="navigation">
                <ul class="nav-list">
                {{#withSort pages "data.number"}}{{#if data.nav}}
                    <li class="nav-item"><a href="{{basename}}.html" class="nav-link">{{this.data.title}}</a></li>
                {{/if}}{{/withSort}}
                </ul>
            </nav>
               {{!--  <div class="social-media">
                  <a href="https://github.com/hexrays" class="icon-github"></a>
                  <a href="https://www.linkedin.com/in/hexrays" class="icon-linkedin"></a>
                </div> --}}
        </header>