<nav>
    <h1 class="name">
        <a href="/">Jeff Denton</a>
    </h1>
    <div class="menu icon-menu"></div>
        <ul class="nav-links">
            <li class="text-link">
                <a href="/projects.html">projects</a>
            </li>
            <li class="text-link">
                <a href="/about.html">about</a>
            </li>
        </ul>
        <div class="social-media">
          <a href="https://github.com/hexrays" class="icon-github"></a>
          <a href="https://www.linkedin.com/in/hexrays" class="icon-linkedin"></a>
        </div>
    </nav>
</nav>